body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fff8f0;
  color: #5a4a42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

h3 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.image-container {
  position: relative;
  flex: 1;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
  flex: 1;
  padding: 20px;
}

.price-banner {
  position: absolute;
  top: 20px;
  left: 20%;
  transform: translateX(-50%);
  background-color: #d17b49;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* animation */
  transition:
  width 0.5s,
  height 0.5s,
  background-color 1s,
  rotate 1s;
}

.price-banner:hover {
  background-color: #ffcccc;
  width: 200px;
  height: 200px;
  rotate: 20deg;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}