@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(255, 255, 240);
    font-family: 'Poppins';
}

h1 {
    text-align: center;
    /* align-items: center; */
}

/* Style for the card container */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 16px; /* Gap between cards */
    margin: 20px;
}

/* Style for individual cards */
.card {
    background-color: lightyellow;
    padding: 20px;
    border: 1px solid rgb(210, 210, 183);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style for the image placeholder */
.card img {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Style for card text */
.card h3, .card p {
    margin: 5px 0;
    color: rgb(113, 113, 97);
}

.card p {
    color: rgb(113, 113, 97);
}